<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<context-param>
		<param-name>msg2</param-name>
		<param-value>Java is amazing!!!</param-value>
	</context-param>

	<servlet>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>com.nit.pack1.DisplayServlet</servlet-class>

		<init-param>
			<param-name>msg3</param-name>
			<param-value>ServletContext Vs ServletConfig</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayServlet</servlet-name>
		<url-pattern>/dis</url-pattern>
	</servlet-mapping>

</web-app>